<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contenido del curso</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container" style="margin-top: 40px;">
		<h1>Contenido de <span th:text="${curso.contenido.titulo}"></span></h1>

		<div th:replace="~{fragments/modulo :: nodo(${curso}, ${curso.contenido.estructura})}"></div>

		<a th:href="@{/instructor/mis-cursos}" class="btn btn-secondary mt-3">Volver</a>
	</div>
</body>
</html>